
.task {
  display: flex; flex-direction: column; gap: 0.2rem;
  border: 1px solid rgb(227, 227, 227);
  margin: 2rem; padding: 1.5rem;
  background-color: rgb(236, 231, 210);
  transition: .15s;
}

.task-content {
  text-align: center;
  font-size: 17pt;
}

.edit-input {
  width: 40%;
  align-self: center;
  background-color: rgba(200, 200, 200, 0.0);
  border: 1px solid rgb(177, 177, 177)
}

.btns {
  display: flex; justify-content: center; gap: 1rem;
}

.btns>button {
  width: 20%; height: 2rem;
  border: none;
  cursor: pointer;
  color: #fff;
}

.btn-rm {
  background-color: rgb(238, 58, 52);
}
.btn-ed {
  background-color: rgb(48, 142, 220);
}
.btn-ed-conf {
  background-color: rgb(56, 176, 228);
}
.btn-co {
  background-color: rgb(234, 141, 34)
}