.App {
  background-color: #fff;
  display: flex; justify-content: center; align-content: center;
  height: 100vh; width: 100vw;
}

.content {
  height: 100vh; width: 60vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 50vh 50vh;
  grid-template-areas:
  "controls tasks";
  box-shadow: 3px 3px 50px rgb(189, 189, 189);
}


.controlls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2em;
}

.title {
} .title>h1 {
    text-align: center;
    color: rgb(41, 41, 41);
}

.controlls>input {
    width: 85%; height: 2rem;
    background-color: rgb(203, 203, 203);
    border: none;
    color: rgb(41, 41, 41);
}

.controlls>button {
  width: 35%;
  background-color: rgb(48, 221, 80);
  cursor: pointer;
  border: none;
  height: 2rem;
}

.tasks {
  margin-bottom: 10rem;
}
