.App {
  background-color: rgb(242, 242, 242);
  display: flex; justify-content: center; align-content: center; align-items: center;
  height: 100vh;
}

.content {
  height: 80vh; width: 80vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 100vh;
  grid-template-areas:
  "controls tasks"
  "controls tasks";
  box-shadow: 3px 3px 50px rgb(189, 189, 189);
}

@media only screen and (max-width: 1150px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95vw;
  }

}

@media only screen and (max-width: 800px) {
  .content {
    display: flex; flex-direction: column;
    padding: 1em 0;
    width: 100vw; height: 100vh;
  }

  .controlls {
    padding: 1em;
  }

  .tasks {
    border-top: 1px solid rgb(227, 227, 227);
  }
}


.controlls {
  align-self: center; justify-self: center;
}

.tasks {
  height: 80vh; width: 100%;
  overflow-y: scroll;
  align-self: center; justify-self: center;
  border-left: 1px solid rgb(227, 227, 227);
}

.tasks::-webkit-scrollbar {
  width: 5px;
  border-radius: 3pt;
}

.tasks::-webkit-scrollbar-track {
background: #ebebeb;
}

/* Handle */
.tasks::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
.tasks::-webkit-scrollbar-thumb:hover {
background: #555;
}
