.App {
  background-color: rgb(242, 242, 242);
  display: flex; justify-content: center; align-content: center; align-items: center;
  height: 100vh;
}

.content {
  height: 80vh; width: 60vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 100vh;
  grid-template-areas:
  "controls tasks"
  "controls tasks";
  box-shadow: 3px 3px 50px rgb(189, 189, 189);
  padding: 2rem;
}


.controlls {
  align-self: center; justify-self: center;
}

.tasks {
  height: 80vh;
  overflow-y: scroll;
  align-self: center;
}

.tasks::-webkit-scrollbar {
  width: 5px;
  border-radius: 3pt;
}

.tasks::-webkit-scrollbar-track {
background: #ebebeb;
}

/* Handle */
.tasks::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
.tasks::-webkit-scrollbar-thumb:hover {
background: #555;
}
