@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

body, html, * {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', 'Oxygen', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, a, p {
    font-family: 'Poppins', 'Oxygen', 'Helvetica Neue';
    color: rgb(41, 41, 41)
}

